.input-form {
    width: 230px;
    float: left;
    margin-top: 20px;
}

.input-form label {
    float:left;
}

.payments-search-leftblock {
    width: 86%;
    float:left;
    margin-top: -30px;
}

.payments-search-rightblock {
    width: 10%;
}

.hasDatepicker {
    width: 175px !important;
}

.ui-datatable-resizable thead th, .ui-datatable-resizable tbody td, .ui-datatable-resizable tfoot td {
    white-space: normal !important;
}

@media (min-width: 1100px) and (max-width: 1300px) {
    .ui-panelgrid-cell {

    }
}

@media (min-width: 0px) and (max-width: 650px) {
    .input-form {
        width: 100% !important;
        float: left;
    }

    .payments-search-leftblock {
        width:100% !important;
    }

    .ui-selectonemenu {
        min-width: 87% !important;
    }

    input { width: 96% !important}

}

#calendar_button1_input {
    width: 283px !important;
}

#calendar_button2_input {
    width: 283px !important;
}

#pieChart > #piaChart svg g:first-child {
    display:none;
}

.ui-dialog-titlebar {
    background-color: #0061a0 !important;
    color: #fff !important;
}

#charts {
    width: 71% !important;
    float: right !important;
    margin-top: -295px !important;
}

#pieChart {
    margin-top: -140px !important;
}

.ui-datatable table tbody td {
    padding: 0px 5px !important;
}


